/*
 * Se va a usar la nomenclatura BEM para nombrar las clases, de forma
 * que sean más reutilizables y fácil de mantener. Para más información
 * de como se emplea esta nomenclatura, se puede visitar la web
 * https://getbem.com/introduction/.
 */

/*
 * Vairiables para el tema de color.
 */

:root {
    --color-primario: #F0ECE5;
    --color-secundario: #161A30;
    --color-resalte: #31304D;
    --color-texto: black;
}

/*
 * Primero hacemos un reset para todos los elementos, que sean
 * consistentes en los diferentes navegadores.
 */

*, *::after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
 * Establecemos el tamaño de fuente al 62.5%, así al usar unidades relativas,
 * como rem o em, serán multiplos de 10 y más cómodo trabajar con ellas.
 */

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: var(--color-primario);
}

/*
 * Clases de Utilidad
 */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex__columns {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/*
 * Secciones principales de la página
 */

.header {
    width: 100%;
    padding: 1rem 4rem;
    align-items: center;
    background: var(--color-secundario);
}

.content {
    flex: 1;
    width: 100%;
}

.footer {
    font-size: 2rem;
    height: 5rem;
    margin-top: auto;
    text-align: center;
    padding-top: 1.2rem;
    color: var(--color-primario);
    background: var(--color-secundario);

}

/*
* Elementos de la página
*/

.header__logo {
    margin: 0 1rem 0 2rem;
}

.header__title{
    font-size: 3rem;
    color: var(--color-primario);

}

.menu {
    margin-left: auto;
    width: 20%;
}

.menu__list {
    width: 100%;
    list-style: none;
    justify-content: space-around;
}

.menu__link {
    font-size: 2rem;
    text-decoration: none;
}

.paraLink {
    font-size: 2rem;
    color: white;
}

.home {
    width: 100%;
    flex: 1;
    color: white;
    background:
        linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)),
        center / cover no-repeat url("../img/hero.jpg");
}

.home__text {
    width: 50%;
    margin: 5% auto;
    justify-content: space-between;
}

.home__title{
    font-size: 8rem;
}

.home__subtitle {
    font-size: 4rem;
}

.info {
    width: 40%;
    margin: 0 auto;
}

.info__container {
    flex: 1;
    align-self: center;
}

.info__title {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.info__text {
    font-size: 2rem;
}

.info__image {
    float: right;
    width: 50%;
    height: 50%;
    margin-left: 2rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}

.services {
    width: 60%;
    margin: 0 auto;
}

.gallery {
    align-self: center;

}

.gallery__container {
    width: 30rem;
    margin: 2rem;
}

.gallery__image {
    width: 100%;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.gallery__title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.gallery__text {
    font-size: 1.4rem;
}

/*
* Estados de los elementos
*/

.menu__link:link,
.menu__link:visited {
    color: var(--color-primario);
}

.menu__link:hover {
    text-shadow: rgba(255, 255, 255, 1) 0.1rem 0 1rem;

}