# Created by https://www.toptal.com/developers/gitignore/api/latex,react
# Edit at https://www.toptal.com/developers/gitignore?templates=latex,react

### LaTeX ###
## Core latex/pdflatex auxiliary files:
**/Apuntes/*.aux
**/Apuntes/*.lof
**/Apuntes/*.log
**/Apuntes/*.lot
**/Apuntes/*.fls
**/Apuntes/*.out
**/Apuntes/*.toc
**/Apuntes/*.fmt
**/Apuntes/*.fot
**/Apuntes/*.cb
**/Apuntes/*.cb2
**/Apuntes/.*.lb

## Intermediate documents:
**/Apuntes/*.dvi
**/Apuntes/*.xdv
**/Apuntes/*-converted-to.*
**/Apuntes/
## Bibliography auxiliary files (bibtex/biblatex/biber):
**/Apuntes/*.bbl
**/Apuntes/*.bcf
**/Apuntes/*.blg
**/Apuntes/*-blx.aux
**/Apuntes/*-blx.bib
**/Apuntes/*.run.xml

## Build tool auxiliary files:
**/Apuntes/*.fdb_latexmk
**/Apuntes/*.synctex
**/Apuntes/*.synctex(busy)
**/Apuntes/*.synctex.gz
**/Apuntes/*.synctex.gz(busy)
**/Apuntes/*.pdfsync
**/Apuntes/