# Created by https://www.toptal.com/developers/gitignore/api/latex
# Edit at https://www.toptal.com/developers/gitignore?templates=latex

### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
**.blg
*-blx.aux
*-blx.bib
*.run.xml

## Glossary auxiliary files:
*.glg
*.glo
*.gls
*.ist

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
/*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## VSCode Folder
.vscode/
/ED/Tareas/Tema 3/proyectos/Paintball_esqueleto/nbproject/private/
/ED/Tareas/Tema 3/proyectos/Paintball_esqueleto/build/
