/* Reinicio básico CSS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definición de variables para el tema de color */

:root {
  --main-background: #D9D9D9;
  --background-light: #64CCC5;
  --background-dark: #176B87;
  --details: #04364A;
  --text-color: #FFF;
}

/* Valores que afectan a toda la página.
 *
 * NOTA: el valor font-size se establece a 62.5% para
 * que así sea más cómodo trabajar con el tamaño de las fuentes
 * al usar unidades relativas (rem, em), ya que serán múltiplos de 10px.
 */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--main-background);
}

/* Clases de utilidad */

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Estilo de los bloques principales */

.header {
  color: var(--details);
}

.header,
.content,
.foot {
  width: 50%;
  min-width: 60rem;
  margin: 0 auto;
}

.nav-1,
.nav-2 {
  font-size: 1.8rem;
  justify-content: space-around;
  color: var(--details);
}

.nav-1 {
  width: 50%;
  margin-left: auto;
  padding: 1rem;
}

.nav-2 {
  margin: 5rem auto;
  width: 50%;
}

.content {
  color: var(--text-color);
  justify-content: space-around;
}

.section-1,
.section-2 {
  padding: 8rem;
}

.section-1 {
  background-color: var(--background-light);
}

.section-2 {
  background-color: var(--background-dark);
}

.gallery {
  justify-content: space-around;
}


.foot {
  color: var(--details);
}

/* Estilo de elementos */

.link {
  text-decoration: none;
  font-weight: bold;
}

.header__image {
  width: 22%;
  min-width: 15rem;
  border-radius: 50%;
  margin: 5rem;
}

.header__text {
  flex-direction: column;
  justify-content: center;
}

.header__title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;

}

.header__subtitle {
  font-size: 2.5rem;
  padding-left: 0.4rem;
}

.content__title {
  font-size: 3rem;
}

.content__para {
  font-size: 1.8rem;
  width: 80%;
  margin: 2rem 0;
}

.content__image {
  width: 40rem;
  height: 40rem;
}

.content__button {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  background-color: var(--details);
  color: var(--text-color);
  border: 0;
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.gallery__element {
  width: 70%;
  margin: 0 1rem;
}

.gallery__img {
  width: 100%;
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}


.gallery__text {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}



.foot {
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem;
}