/* Reseteo básico de estilo para todos los elementos */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo básico para los elementos html y body:

   Se establece el tamaño de fuente a 62.5% ya que esto deja
   la fuente a 10px y facilita trabajar con unidades
   relativas, como el rem. 
*/

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}