/* Basic style reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaración de Variables */

:root {
  --color-main: rgb(241, 239, 239);
  --color-secondary: rgba(25, 23, 23, 0.9);
  --color-tertiary: rgba(204, 200, 170, 0.9);
  --color-highlight: rgb(125, 124, 124);


  --color-font-main: black;
  --color-font-seco: white;
}

/* Estilo básico de los elementos html y body */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--color-tertiary);
}

/* Clases de Utilidad */

.flex {
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
}