/* Basic style reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaración de Variables */

:root {
  --color-main: #F7DCB9;
  --color-secondary: #DEAC80;
  --color-tertiary: #B99470;
  --color-highlight: #B5C18E;


  --color-font-main: black;
  --color-font-seco: white;
}

/* Estilo básico de los elementos html y body */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--color-tertiary);
}

/* Clases de Utilidad */

.flex {
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
}