/*
 * Primero hacemos un reset para todos los elementos, que sean
 * consistentes en los diferentes navegadores.
 */

*, *::after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
 * Establecemos el tamaño de fuente al 62.5%, así al usar unidades relativas,
 * como rem o em, serán multiplos de 10 y más cómodo trabajar con ellas.
 */

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(92, 131, 116), rgb(158, 200, 185));
}

/*
 * Clases de Utilidad
 */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex__columns {
    flex-direction: column;
}

/*
 * Clases de elementos principales
 */

.content {
    width: 60%;
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
}

.content__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.content__subtitle {
    font-size: 1.8rem;
    margin-top: 3rem;
}

.list {
    font-size: 1.4rem;
    padding-left: 2rem;
}

.list__name {
    font-weight: bold;
}