/*
 * Primero hacemos un reset para todos los elementos, que sean
 * consistentes en los diferentes navegadores.
 */

*, *::after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
 * Establecemos el tamaño de fuente al 62.5%, así al usar unidades relativas,
 * como rem o em, serán multiplos de 10 y más cómodo trabajar con ellas.
 */

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: var(--color-primario);
    background: linear-gradient(rgb(92, 131, 116), rgb(158, 200, 185));
}

/*
 * Clases de Utilidad
 */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex__columns {
    flex-direction: column;
}

.error {
    font-size: 1.6rem;
    font-style: italic;
    color: red;
}

/*
 * Clases de elementos principales
 */

.contenido {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.form {
    font-size: 1.6rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);


}

.message {
    width: 55rem;
    margin: 10rem auto;
    padding: 2rem;
    background: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.3);
}

/*
 * Elementos del formulario
 */

.form__control {
    margin: 1rem 0;
}

.message__title {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.message__subtitle {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    align-self: baseline;

}



.list__item {
    font-size: 1.6rem;
    align-self: baseline;
    margin: 0.5rem 0;
}



